.nav{
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   height: 70px;
   background-color: #232938;
   user-select: none;
}
.nav h1{
   position: absolute;
   margin-top: 9px;
   margin-left: 118px;
   top: 0;
   font-family: "Oswald", sans-serif;
   color: white;
   user-select: none;
}
.pointer{
   cursor: pointer;
   width: max-content;
}

#logo{
   height: 65px;
}

.nav #login{
   position: absolute;
   top: 0;
   right: 22%;
   margin-top: 22px;
   color: white;
   cursor: pointer;
   user-select: none;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
}
.nav #crear_cuenta{
    position: absolute;
    top: 0;
    right: 40%;
    margin-top: 22px;
    color: white;
    cursor: pointer;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;   
}

.formulario{
   display: none;
   transition: 1s ease;
}
.formulario2{
    background-color: #3f3e3e;
    display: block;
    position: absolute;
    top: 0;
    margin-top: 10%;
    opacity: 90%;
    position: absolute;
    left: calc(36%);
    width: 25%;
    height: 500px;
    
}
.boton_unirse{
    position: absolute;
    display: flex;
    right: 70%;
    margin-top: 11px;
    line-height: 31px;
    width: 100px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(230, 130, 0);
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    cursor: pointer;
}
.form2 label{
right: 70%;
position: absolute;
margin-top: 45px;
justify-content: left;
}
.uname{
margin-left: 30%;
margin-top: 50px;
}

.formulario span{
  position: absolute;
  cursor: pointer;
  color: white;
  font-size: 20px;
  right: 30%;
  margin-top: 18px;
}

.formulario #sign_in{
   position: absolute;
   display: flex;
   right: 3%;
   margin-top: 11px;
   line-height: 31px;
   width: 100px;
   border-radius: 5px;
   border: 0px;
   background-color: rgb(230, 130, 0);
   font-weight: 600;
   font-family: "Montserrat", sans-serif;
   justify-content: center;
   cursor: pointer;
}
.Username{
   position:absolute;
   margin-top: 10px;
   right: 20%;
   width: 150px;
   height: 28px;
   resize: none;
   display: block;
   font-size: 15px;
   border-radius: 5px;
   font-weight: 200;
   line-height: 28px;
   border-color: #232938;
    
}
.Username::-webkit-input-placeholder {
   text-align: center;
   line-height: 28px;
}

.Username{
   padding-left: 7px;
}

.Password{
   position:absolute;
   margin-top: 10px;
   right: 10%;
   width: 150px;
   height: 28px;
   resize: none;
   display: block;
   font-size: 15px;
   border-radius: 5px;
   font-weight: 200;
   line-height: 28px;
   border-color: #232938;
    
}
.Password::-webkit-input-placeholder {
   text-align: center;
   line-height: 28px;
}

.Password{
   padding-left: 7px;
}

